<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MC Advocacia</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/2.ico') }}" type="image/x-icon">

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/style.css') }}">
</head>

<body>

<header class="header">
    <img src="{{ url_for('static', filename='imagens/Logo.png') }}" alt="Logo do escritório" class="logo">

    <div class="texto-header">
        <h1 class="titulo">
            Dr Mauro César Souza Silva
            <span>Advocacia</span>
        </h1>
        <h6 class="oab">OAB/SP 478.742</h6>
    </div>
</header>

<nav class="menu">
    <a href="https://www.facebook.com/mauro.cesar.souza.silva.2025?locale=pt_BR"target="_blank" rel="external">Facebook</a>
    <a href="https://www.instagram.com/mauro_cesar_souza_silva/" target="_blank" rel="external">Instagram</a>
    <a href="https://api.whatsapp.com/send?phone=5511949628942&text=MC%20Advocacia"target="_blank" rel="external">WhatsApp</a>
</nav>

<section class="areas">

    <h2>Áreas de Atuação</h2>

    <div class="lista-areas">

        <div class="area">
            <h3>Direito Trabalhista</h3>
            <p>Defesa dos direitos do trabalhador e do empregador em relações de trabalho.</p>
        </div>

        <div class="area">
            <h3>Direito Civil</h3>
            <p>Atuação em contratos, responsabilidade civil e relações jurídicas em geral.</p>
        </div>

        <div class="area">
            <h3>Direito Previdenciário</h3>
            <p>Aposentadorias, benefícios e revisão junto ao INSS.</p>
        </div>

        <div class="area">
            <h3>Direito Criminal</h3>
            <p>Defesa em processos criminais e acompanhamento jurídico completo.</p>
        </div>

        <div class="area">
            <h3>Direito do Consumidor</h3>
            <p>Proteção contra abusos e garantia dos seus direitos nas relações de consumo.</p>
        </div>

    </div>

</section>
 <section class="noticias">

    <h2>Notícias do Judiciário</h2>

    <div class="lista-noticias">

        <!-- NOTÍCIA 1 -->
        <article class="noticia">
            <img src="{{ url_for('static', filename='imagens/noticia1.jpg') }}" alt="Notícia">

            <div class="conteudo">
                <h3>Mulheres privadas de liberdade constroem caminhos de ressocialização no Acre</h3>
                <span class="data">17 de abril de 2026</span>
                <p>No início, em 2025, quando as práticas de Justiça Restaurativa foram levadas à unidade penitenciária...</p>
            </div>
        </article>

        <!-- NOTÍCIA 2 -->
        <article class="noticia">
            <img src="{{ url_for('static', filename='imagens/noticia2.jpg') }}" alt="Notícia">

            <div class="conteudo">
                <h3>Registre-se: mais de 600 indígenas já foram atendidos em ação na região de Auaris (RR)</h3>
                <span class="data">17 de abril de 2026</span>
                <p>A Semana Nacional do Registro Civil já alcançou centenas de atendimentos nas comunidades indígenas...</p>
            </div>
        </article>
    </div>
</section>  

<section class="imagem" id="img01">
    <p>
        Onde há direito, <br>
        há defesa. <br>
        Você não está sozinho. <br>            
        Estamos  <br>
        ao seu lado para <br>
        Transformar incertezas em <br>soluções <br>
        jurídicas seguras. <br>
        Lutamos com determinação <br>
        para garantir  <br>
        justiça em  <br>
        cada detalhe.
    </p>
</section>
<section class="normal">
  <div class="video-box">
        <h1>Com a palavra <br>
             Dr Mauro <br>
        sobre prazos e ferias</h1>    
  
  <div class="video">
     <iframe title="vimeo-player" src="https://player.vimeo.com/video/1183759102?h=69243c7988" width="640" height="360" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"   allowfullscreen></iframe>   
   
  </div>

  <div class="video">
     <iframe title="vimeo-player" src="https://player.vimeo.com/video/1183758839?h=212acece1e" width="640" height="360" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"   allowfullscreen></iframe>
        
  </div>

</div>        
</section>
<section class="imagem" id="img02">
    <p>
    "Onde quer que haja <br>
    um direito <br>
    individual violado, <br>
    há de haver <br>
    um recurso judicial <br>
    para a debelação <br>
    da injustiça; <br>
    este, o princípio <br>
    fundamental <br>
    de todas as <br>
    constituições livres".
    </p>
 </section>  
<div class="box-igreja">
   <img src="{{ url_for('static', filename='imagens/igreja.jpg') }}" alt="Documentação de igrejas">

  <div class="texto">
    <p>
      <h1>Regularização e Documentação de igrejas</h1>
      A regularização de uma organização religiosa vai muito além do simples registro em cartório. 
      Trata-se de construir uma base jurídica sólida, capaz de garantir segurança e continuidade das atividades.    
      Atuamos na elaboração de estatutos, definição das funções dos dirigentes e orientação sobre 
      obrigações legais e administrativas, prevenindo conflitos e garantindo tranquilidade para sua instituição.
    </p>
  </div>
</div>
<section class="contato">

<h2>Entre em contato</h2>

<form action="/receber" method="POST">

<label for="nome">Nome</label>

<input
type="text"
id="nome"
name="nome"
placeholder="Digite seu nome">

<label for="whatsapp">WhatsApp</label>

<input
type="text"
id="whatsapp"
name="whatsapp"
placeholder="(11) 99999-9999">

<label for="mensagem">Mensagem</label>

<textarea
id="mensagem"
name="mensagem"
rows="5"
placeholder="Digite sua mensagem"></textarea>

<button type="submit">

Enviar

</button>

</form>

</section>
</body>
</html>